<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxiang.share.product.carlife.dao.CarlifeRefuelCardDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.boxiang.share.product.carlife.po.CarlifeRefuelCard">
        <result column="ID" property="id"/>
        <result column="CUSTOMER_ID" property="customerId"/>
        <result column="CARD_NO" property="cardNo"/>
        <result column="CARD_NAME" property="cardName"/>
        <result column="CARD_MOBILE" property="cardMobile"/>
        <result column="CARD_TYPE" property="cardType"/>
        <result column="IS_USED" property="isUsed"/>
        <result column="CREATEOR" property="createor"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODIFIED" property="modified"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
	</resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		ID, CUSTOMER_ID, CARD_NO, CARD_NAME, CARD_MOBILE, CARD_TYPE, IS_USED, CREATEOR, CREATE_DATE, MODIFIED, MODIFY_DATE
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND ID = #{id}
		</if>
		<if test="customerId != null and customerId != '' ">
		AND CUSTOMER_ID = #{customerId}
		</if>
		<if test="cardNo != null and cardNo != '' ">
		AND CARD_NO = #{cardNo}
		</if>
		<if test="cardName != null and cardName != '' ">
		AND CARD_NAME = #{cardName}
		</if>
		<if test="cardMobile != null and cardMobile != '' ">
		AND CARD_MOBILE = #{cardMobile}
		</if>
		<if test="cardType != null and cardType != '' ">
		AND CARD_TYPE = #{cardType}
		</if>
		<if test="isUsed != null and isUsed != '' ">
		AND IS_USED = #{isUsed}
		</if>
		<if test="createor != null and createor != '' ">
		AND CREATEOR = #{createor}
		</if>
		<if test="createDate != null and createDate != '' ">
		AND CREATE_DATE = #{createDate}
		</if>
		<if test="modified != null and modified != '' ">
		AND MODIFIED = #{modified}
		</if>
		<if test="modifyDate != null and modifyDate != '' ">
		AND MODIFY_DATE = #{modifyDate}
		</if>
	</sql>

	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND ID = #{params.id}
		</if>
		<if test="params.customerId != null and params.customerId != '' ">
		AND CUSTOMER_ID = #{params.customerId}
		</if>
		<if test="params.cardNo != null and params.cardNo != '' ">
		AND CARD_NO = #{params.cardNo}
		</if>
		<if test="params.cardName != null and params.cardName != '' ">
		AND CARD_NAME = #{params.cardName}
		</if>
		<if test="params.cardMobile != null and params.cardMobile != '' ">
		AND CARD_MOBILE = #{params.cardMobile}
		</if>
		<if test="params.cardType != null and params.cardType != '' ">
		AND CARD_TYPE = #{params.cardType}
		</if>
		<if test="params.isUsed != null and params.isUsed != '' ">
		AND IS_USED = #{params.isUsed}
		</if>
		<if test="params.createor != null and params.createor != '' ">
		AND CREATEOR = #{params.createor}
		</if>
		<if test="params.createDate != null and params.createDate != '' ">
		AND CREATE_DATE = #{params.createDate}
		</if>
		<if test="params.modified != null and params.modified != '' ">
		AND MODIFIED = #{params.modified}
		</if>
		<if test="params.modifyDate != null and params.modifyDate != '' ">
		AND MODIFY_DATE = #{params.modifyDate}
		</if>
	</sql>

	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_CARLIFE_REFUEL_CARD 
	     WHERE ID = #{id}     
	</select>

	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_CARLIFE_REFUEL_CARD
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_CARLIFE_REFUEL_CARD
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>

	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.boxiang.share.product.carlife.po.CarlifeRefuelCard">
        INSERT INTO T_CARLIFE_REFUEL_CARD (
        	ID,
        	CUSTOMER_ID,
        	CARD_NO,
        	CARD_NAME,
        	CARD_MOBILE,
        	CARD_TYPE,
        	IS_USED,
        	CREATEOR,
        	CREATE_DATE,
        	MODIFIED,
        	MODIFY_DATE
        ) VALUES (
        	#{id},
        	#{customerId},
        	#{cardNo},
        	#{cardName},
        	#{cardMobile},
        	#{cardType},
        	#{isUsed},
        	#{createor},
        	#{createDate},
        	#{modified},
        	#{modifyDate}
        )
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM T_CARLIFE_REFUEL_CARD 
		 WHERE ID = #{id} 
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.boxiang.share.product.carlife.po.CarlifeRefuelCard">
        UPDATE T_CARLIFE_REFUEL_CARD 
		SET
	        CUSTOMER_ID = #{customerId},
	        CARD_NO = #{cardNo},
	        CARD_NAME = #{cardName},
	        CARD_MOBILE = #{cardMobile},
	        CARD_TYPE = #{cardType},
	        IS_USED = #{isUsed},
	        CREATEOR = #{createor},
	        CREATE_DATE = #{createDate},
	        MODIFIED = #{modified},
	        MODIFY_DATE = #{modifyDate}
        WHERE ID = #{id} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE T_CARLIFE_REFUEL_CARD
			<set>
    	        CUSTOMER_ID = #{item.customerId},
    	        CARD_NO = #{item.cardNo},
    	        CARD_NAME = #{item.cardName},
    	        CARD_MOBILE = #{item.cardMobile},
    	        CARD_TYPE = #{item.cardType},
    	        IS_USED = #{item.isUsed},
    	        CREATEOR = #{item.createor},
    	        CREATE_DATE = #{item.createDate},
    	        MODIFIED = #{item.modified},
    	        MODIFY_DATE = #{item.modifyDate}
			</set>
            WHERE ID = #{item.id} 	
		</foreach>
	</update>
</mapper>