<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxiang.share.product.carlife.dao.OrderRefuelDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.boxiang.share.product.carlife.po.OrderRefuel">
        <result column="ID" property="id"/>
        <result column="ORDER_ID" property="orderId"/>
        <result column="CARD_ID" property="cardId"/>
        <result column="TOPUP_TYPE" property="topupType"/>
        <result column="TOPUP_NUM" property="topupNum"/>
        <result column="TOPUP_PRICE" property="topupPrice"/>
        <result column="ORDER_CASH" property="orderCash"/>
        <result column="TOPUP_STATUS" property="topupStatus"/>
        <result column="TOPUP_NAME" property="topupName"/>
        <result column="SPORDER_ID" property="sporderId"/>
        <result column="IS_USED" property="isUsed"/>
        <result column="CREATEOR" property="createor"/>
        <result column="MODIFIED" property="modified"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
	</resultMap>
    <resultMap id="resultRefuelMap" type="com.boxiang.share.product.carlife.po.Refuel">
        <result column="CARD_NO" property="cardNo"/>
        <result column="CARD_NAME" property="cardName"/>
        <result column="CARD_MOBILE" property="cardMobile"/>
        <result column="CARD_TYPE" property="cardType"/>
        <result column="order_id" property="orderId"/>
        <result column="AMOUNT_PAYABLE" property="amountPayable"/>
        <result column="AMOUNT_DISCOUNT" property="amountDiscount"/>
        <result column="AMOUNT_PAID" property="amountPaid"/>
        <result column="PAY_TIME" property="payTime"/>
    </resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		ID, ORDER_ID, CARD_ID, TOPUP_TYPE, TOPUP_NUM, TOPUP_PRICE, ORDER_CASH, TOPUP_STATUS, TOPUP_NAME, SPORDER_ID, IS_USED, CREATEOR, MODIFIED, CREATE_DATE, MODIFY_DATE
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND ID = #{id}
		</if>
		<if test="orderId != null and orderId != '' ">
		AND ORDER_ID = #{orderId}
		</if>
		<if test="cardId != null and cardId != '' ">
		AND CARD_ID = #{cardId}
		</if>
		<if test="topupType != null and topupType != '' ">
		AND TOPUP_TYPE = #{topupType}
		</if>
		<if test="topupNum != null and topupNum != '' ">
		AND TOPUP_NUM = #{topupNum}
		</if>
		<if test="topupPrice != null and topupPrice != '' ">
		AND TOPUP_PRICE = #{topupPrice}
		</if>
		<if test="orderCash != null and orderCash != '' ">
		AND ORDER_CASH = #{orderCash}
		</if>
		<if test="topupStatus != null and topupStatus != '' ">
		AND TOPUP_STATUS = #{topupStatus}
		</if>
		<if test="topupName != null and topupName != '' ">
		AND TOPUP_NAME = #{topupName}
		</if>
		<if test="sporderId != null and sporderId != '' ">
		AND SPORDER_ID = #{sporderId}
		</if>
		<if test="isUsed != null and isUsed != '' ">
		AND IS_USED = #{isUsed}
		</if>
		<if test="createor != null and createor != '' ">
		AND CREATEOR = #{createor}
		</if>
		<if test="modified != null and modified != '' ">
		AND MODIFIED = #{modified}
		</if>
		<if test="createDate != null and createDate != '' ">
		AND CREATE_DATE = #{createDate}
		</if>
		<if test="modifyDate != null and modifyDate != '' ">
		AND MODIFY_DATE = #{modifyDate}
		</if>
	</sql>

	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND ID = #{params.id}
		</if>
		<if test="params.orderId != null and params.orderId != '' ">
		AND ORDER_ID = #{params.orderId}
		</if>
		<if test="params.cardId != null and params.cardId != '' ">
		AND CARD_ID = #{params.cardId}
		</if>
		<if test="params.topupType != null and params.topupType != '' ">
		AND TOPUP_TYPE = #{params.topupType}
		</if>
		<if test="params.topupNum != null and params.topupNum != '' ">
		AND TOPUP_NUM = #{params.topupNum}
		</if>
		<if test="params.topupPrice != null and params.topupPrice != '' ">
		AND TOPUP_PRICE = #{params.topupPrice}
		</if>
		<if test="params.orderCash != null and params.orderCash != '' ">
		AND ORDER_CASH = #{params.orderCash}
		</if>
		<if test="params.topupStatus != null and params.topupStatus != '' ">
		AND TOPUP_STATUS = #{params.topupStatus}
		</if>
		<if test="params.topupName != null and params.topupName != '' ">
		AND TOPUP_NAME = #{params.topupName}
		</if>
		<if test="params.sporderId != null and params.sporderId != '' ">
		AND SPORDER_ID = #{params.sporderId}
		</if>
		<if test="params.isUsed != null and params.isUsed != '' ">
		AND IS_USED = #{params.isUsed}
		</if>
		<if test="params.createor != null and params.createor != '' ">
		AND CREATEOR = #{params.createor}
		</if>
		<if test="params.modified != null and params.modified != '' ">
		AND MODIFIED = #{params.modified}
		</if>
		<if test="params.createDate != null and params.createDate != '' ">
		AND CREATE_DATE = #{params.createDate}
		</if>
		<if test="params.modifyDate != null and params.modifyDate != '' ">
		AND MODIFY_DATE = #{params.modifyDate}
		</if>
	</sql>

	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_ORDER_REFUEL 
	     WHERE ID = #{id}     
	</select>
<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryByOrderId" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_ORDER_REFUEL 
	     WHERE order_id = #{orderId}     
	</select>
	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_ORDER_REFUEL
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_ORDER_REFUEL
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>
    <!-- 分页已付款 根据customerId -->
   <select id="queryListByRefuelPage" resultMap="resultRefuelMap">
	SELECT
	b.ORDER_ID,a.CARD_TYPE,a.CARD_NO,a.CARD_NAME,a.CARD_MOBILE,c.PAY_TIME,c.AMOUNT_DISCOUNT,
	c.AMOUNT_PAID,c.AMOUNT_PAYABLE
	FROM
	t_carlife_refuel_card a INNER JOIN t_order_refuel b ON a.ID=b.CARD_ID and a.IS_USED='1' and b.IS_USED='1'
	LEFT JOIN t_order_main c on b.ORDER_ID=c.ORDER_ID AND c.IS_USED='1'
		where 1=1 
		<if test="params.customerId != null and params.customerId != '' ">
		AND c.customer_id = #{params.customerId}
		</if>
		 and c.order_status='11'
	     order by c.CREATE_DATE desc
	</select>
	<select id="queryRefuelByOrderId" resultMap="resultRefuelMap">
		SELECT * FROM t_order_refuel b
		LEFT JOIN t_carlife_refuel_card a ON a.ID=b.CARD_ID and a.IS_USED='1' and b.IS_USED='1'
		LEFT JOIN t_order_main c on b.ORDER_ID=c.ORDER_ID AND c.IS_USED='1'
		where c.ORDER_ID = #{orderId}
	</select>
	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.boxiang.share.product.carlife.po.OrderRefuel">
        INSERT INTO T_ORDER_REFUEL (
        	ID,
        	ORDER_ID,
        	CARD_ID,
        	TOPUP_TYPE,
        	TOPUP_NUM,
        	TOPUP_PRICE,
        	ORDER_CASH,
        	TOPUP_STATUS,
        	TOPUP_NAME,
        	SPORDER_ID,
        	IS_USED,
        	CREATEOR,
        	MODIFIED,
        	CREATE_DATE,
        	MODIFY_DATE
        ) VALUES (
        	#{id},
        	#{orderId},
        	#{cardId},
        	#{topupType},
        	#{topupNum},
        	#{topupPrice},
        	#{orderCash},
        	#{topupStatus},
        	#{topupName},
        	#{sporderId},
        	#{isUsed},
        	#{createor},
        	#{modified},
        	#{createDate},
        	#{modifyDate}
        )
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM T_ORDER_REFUEL 
		 WHERE ID = #{id} 
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.boxiang.share.product.carlife.po.OrderRefuel">
        UPDATE T_ORDER_REFUEL 
		SET
	        ORDER_ID = #{orderId},
	        CARD_ID = #{cardId},
	        TOPUP_TYPE = #{topupType},
	        TOPUP_NUM = #{topupNum},
	        TOPUP_PRICE = #{topupPrice},
	        ORDER_CASH = #{orderCash},
	        TOPUP_STATUS = #{topupStatus},
	        TOPUP_NAME = #{topupName},
	        SPORDER_ID = #{sporderId},
	        IS_USED = #{isUsed},
	        CREATEOR = #{createor},
	        MODIFIED = #{modified},
	        CREATE_DATE = #{createDate},
	        MODIFY_DATE = #{modifyDate}
        WHERE ID = #{id} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE T_ORDER_REFUEL
			<set>
    	        ORDER_ID = #{item.orderId},
    	        CARD_ID = #{item.cardId},
    	        TOPUP_TYPE = #{item.topupType},
    	        TOPUP_NUM = #{item.topupNum},
    	        TOPUP_PRICE = #{item.topupPrice},
    	        ORDER_CASH = #{item.orderCash},
    	        TOPUP_STATUS = #{item.topupStatus},
    	        TOPUP_NAME = #{item.topupName},
    	        SPORDER_ID = #{item.sporderId},
    	        IS_USED = #{item.isUsed},
    	        CREATEOR = #{item.createor},
    	        MODIFIED = #{item.modified},
    	        CREATE_DATE = #{item.createDate},
    	        MODIFY_DATE = #{item.modifyDate}
			</set>
            WHERE ID = #{item.id} 	
		</foreach>
	</update>
	<!-- 获取已支付加油卡订单信息 -->
	<select id="selectListForQuartz" resultMap="resultMap">
		SELECT tf.* FROM t_order_main tm
		LEFT JOIN t_order_refuel tf ON tf.ORDER_ID = tm.ORDER_ID
		WHERE tm.ORDER_TYPE = '15'
		AND tm.IS_USED = '1'
	    AND tm.ORDER_STATUS='11'
	    AND tf.TOPUP_STATUS IN (0,9)
	</select>
</mapper>