<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxiang.share.product.villageowner.dao.VillageOwnerDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.boxiang.share.product.villageowner.po.VillageOwner">
        <result column="ID" property="id"/>
        <result column="PARKING_ID" property="parkingId"/>
        <result column="MOBILE" property="mobile"/>
        <result column="NAME" property="name"/>
        <result column="IS_USED" property="isUsed"/>
        <result column="CREATEOR" property="createor"/>
        <result column="MODIFIED" property="modified"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
	</resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		ID, PARKING_ID, MOBILE, NAME, IS_USED, CREATEOR, MODIFIED, CREATE_DATE, MODIFY_DATE
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND ID = #{id}
		</if>
		<if test="parkingId != null and parkingId != '' ">
		AND PARKING_ID = #{parkingId}
		</if>
		<if test="mobile != null and mobile != '' ">
		AND MOBILE = #{mobile}
		</if>
		<if test="name != null and name != '' ">
		AND NAME = #{name}
		</if>
		<if test="isUsed != null and isUsed != '' ">
		AND IS_USED = #{isUsed}
		</if>
		<if test="createor != null and createor != '' ">
		AND CREATEOR = #{createor}
		</if>
		<if test="modified != null and modified != '' ">
		AND MODIFIED = #{modified}
		</if>
		<if test="createDate != null and createDate != '' ">
		AND CREATE_DATE = #{createDate}
		</if>
		<if test="modifyDate != null and modifyDate != '' ">
		AND MODIFY_DATE = #{modifyDate}
		</if>
	</sql>

	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND ID = #{params.id}
		</if>
		<if test="params.parkingId != null and params.parkingId != '' ">
		AND PARKING_ID = #{params.parkingId}
		</if>
		<if test="params.mobile != null and params.mobile != '' ">
		AND MOBILE = #{params.mobile}
		</if>
		<if test="params.name != null and params.name != '' ">
		AND NAME = #{params.name}
		</if>
		<if test="params.isUsed != null and params.isUsed != '' ">
		AND IS_USED = #{params.isUsed}
		</if>
		<if test="params.createor != null and params.createor != '' ">
		AND CREATEOR = #{params.createor}
		</if>
		<if test="params.modified != null and params.modified != '' ">
		AND MODIFIED = #{params.modified}
		</if>
		<if test="params.createDate != null and params.createDate != '' ">
		AND CREATE_DATE = #{params.createDate}
		</if>
		<if test="params.modifyDate != null and params.modifyDate != '' ">
		AND MODIFY_DATE = #{params.modifyDate}
		</if>
	</sql>

	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_VILLAGE_OWNER 
	     WHERE ID = #{id}     
	</select>

	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_VILLAGE_OWNER
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_VILLAGE_OWNER
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>

	<select id="queryListPageV2" resultType="java.util.Map">
		SELECT
			vo.ID id,
			vo.PARKING_ID parkingId,
			vo.MOBILE mobile,
			vo.`NAME` `name`,
			vo.CREATE_DATE createDate,
			p.parking_name parkingName,
			c.customer_id customerId
		FROM
			t_village_owner vo
		LEFT JOIN t_parking p ON p.parking_id = vo.PARKING_ID
		LEFT JOIN t_customer c ON c.customer_mobile = vo.MOBILE
		WHERE 1 = 1
		<if test="params.id != null and params.id != '' ">
			AND vo.ID = #{params.id}
		</if>
		<if test="params.mobile != null and params.mobile != '' ">
			AND vo.MOBILE LIKE '%${params.mobile}%'
		</if>
		<if test="params.name != null and params.name != '' ">
			AND vo.`NAME` LIKE '%${params.name}%'
		</if>
		<if test="params.parkingName != null and params.parkingName != '' ">
			AND p.parking_name LIKE '%${params.parkingName}%'
		</if>
		<if test="params.customerId != null and params.customerId != '' ">
			AND c.customer_id LIKE '%${params.customerId}%'
		</if>
	</select>

	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.boxiang.share.product.villageowner.po.VillageOwner">
        INSERT INTO T_VILLAGE_OWNER (
        	ID,
        	PARKING_ID,
        	MOBILE,
        	NAME,
        	IS_USED,
        	CREATEOR,
        	MODIFIED,
        	CREATE_DATE,
        	MODIFY_DATE
        ) VALUES (
        	#{id},
        	#{parkingId},
        	#{mobile},
        	#{name},
        	#{isUsed},
        	#{createor},
        	#{modified},
        	#{createDate},
        	#{modifyDate}
        )
	</insert>

	<insert id="insertV2" parameterType="com.boxiang.share.product.villageowner.po.VillageOwner">
		INSERT INTO T_VILLAGE_OWNER (
			PARKING_ID,
			MOBILE,
			NAME,
			IS_USED,
			CREATEOR,
			CREATE_DATE
		)
		SELECT * FROM (
				SELECT
					(SELECT parking_id FROM t_parking WHERE parking_name = #{parkingName}) parkingId,
					#{mobile} mobile,
					#{name} name,
					#{isUsed} isUsed,
					#{createor} createor,
					#{createDate} createDate
			) tmp
		WHERE
			LENGTH(parkingId) > 0
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM T_VILLAGE_OWNER 
		 WHERE ID = #{id} 
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.boxiang.share.product.villageowner.po.VillageOwner">
        UPDATE T_VILLAGE_OWNER 
		SET
	        PARKING_ID = #{parkingId},
	        MOBILE = #{mobile},
	        NAME = #{name},
	        IS_USED = #{isUsed},
	        MODIFIED = #{modified},
	        MODIFY_DATE = #{modifyDate}
        WHERE ID = #{id} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE T_VILLAGE_OWNER
			<set>
    	        PARKING_ID = #{item.parkingId},
    	        MOBILE = #{item.mobile},
    	        NAME = #{item.name},
    	        IS_USED = #{item.isUsed},
    	        CREATEOR = #{item.createor},
    	        MODIFIED = #{item.modified},
    	        CREATE_DATE = #{item.createDate},
    	        MODIFY_DATE = #{item.modifyDate}
			</set>
            WHERE ID = #{item.id} 	
		</foreach>
	</update>
</mapper>