<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxiang.share.system.dao.ParkingTicketDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.boxiang.share.system.po.ParkingTicket">
        <result column="ID" property="id"/>
        <result column="CUSTOMER_ID" property="customerId"/>
        <result column="MOBILE" property="mobile"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="CODE" property="code"/>
        <result column="IS_USED" property="isUsed"/>
        <result column="CREATEOR" property="createor"/>
        <result column="MODIFIED" property="modified"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
	</resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		ID, CUSTOMER_ID, MOBILE, START_DATE, END_DATE, CODE, IS_USED, CREATEOR, MODIFIED, CREATE_DATE, MODIFY_DATE
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND ID = #{id}
		</if>
		<if test="customerId != null and customerId != '' ">
		AND CUSTOMER_ID = #{customerId}
		</if>
		<if test="mobile != null and mobile != '' ">
		AND MOBILE = #{mobile}
		</if>
		<if test="startDate != null and startDate != '' ">
		AND START_DATE = #{startDate}
		</if>
		<if test="endDate != null and endDate != '' ">
		AND END_DATE = #{endDate}
		</if>
		<if test="code != null and code != '' ">
		AND CODE = #{code}
		</if>
		<if test="isUsed != null and isUsed != '' ">
		AND IS_USED = #{isUsed}
		</if>
		<if test="createor != null and createor != '' ">
		AND CREATEOR = #{createor}
		</if>
		<if test="modified != null and modified != '' ">
		AND MODIFIED = #{modified}
		</if>
		<if test="createDate != null and createDate != '' ">
		AND CREATE_DATE = #{createDate}
		</if>
		<if test="modifyDate != null and modifyDate != '' ">
		AND MODIFY_DATE = #{modifyDate}
		</if>
	</sql>

	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND ID = #{params.id}
		</if>
		<if test="params.customerId != null and params.customerId != '' ">
		AND CUSTOMER_ID = #{params.customerId}
		</if>
		<if test="params.mobile != null and params.mobile != '' ">
		AND MOBILE = #{params.mobile}
		</if>
		<if test="params.startDate != null and params.startDate != '' ">
		AND START_DATE = #{params.startDate}
		</if>
		<if test="params.endDate != null and params.endDate != '' ">
		AND END_DATE = #{params.endDate}
		</if>
		<if test="params.code != null and params.code != '' ">
		AND CODE = #{params.code}
		</if>
		<if test="params.isUsed != null and params.isUsed != '' ">
		AND IS_USED = #{params.isUsed}
		</if>
		<if test="params.createor != null and params.createor != '' ">
		AND CREATEOR = #{params.createor}
		</if>
		<if test="params.modified != null and params.modified != '' ">
		AND MODIFIED = #{params.modified}
		</if>
		<if test="params.createDate != null and params.createDate != '' ">
		AND CREATE_DATE = #{params.createDate}
		</if>
		<if test="params.modifyDate != null and params.modifyDate != '' ">
		AND MODIFY_DATE = #{params.modifyDate}
		</if>
	</sql>

	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_PARKING_TICKET 
	     WHERE     
	</select>

	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_PARKING_TICKET
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_PARKING_TICKET
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>

	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.boxiang.share.system.po.ParkingTicket">
        INSERT INTO T_PARKING_TICKET (
        	ID,
        	CUSTOMER_ID,
        	MOBILE,
        	START_DATE,
        	END_DATE,
        	CODE,
        	IS_USED,
        	CREATEOR,
        	MODIFIED,
        	CREATE_DATE,
        	MODIFY_DATE
        ) VALUES (
        	#{id},
        	#{customerId},
        	#{mobile},
        	#{startDate},
        	#{endDate},
        	#{code},
        	#{isUsed},
        	#{createor},
        	#{modified},
        	#{createDate},
        	#{modifyDate}
        )
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM T_PARKING_TICKET 
		 WHERE 
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.boxiang.share.system.po.ParkingTicket">
        UPDATE T_PARKING_TICKET 
		SET
	        ID = #{id},
	        CUSTOMER_ID = #{customerId},
	        MOBILE = #{mobile},
	        START_DATE = #{startDate},
	        END_DATE = #{endDate},
	        CODE = #{code},
	        IS_USED = #{isUsed},
	        CREATEOR = #{createor},
	        MODIFIED = #{modified},
	        CREATE_DATE = #{createDate},
	        MODIFY_DATE = #{modifyDate}
        WHERE 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE T_PARKING_TICKET
			<set>
    	        ID = #{item.id},
    	        CUSTOMER_ID = #{item.customerId},
    	        MOBILE = #{item.mobile},
    	        START_DATE = #{item.startDate},
    	        END_DATE = #{item.endDate},
    	        CODE = #{item.code},
    	        IS_USED = #{item.isUsed},
    	        CREATEOR = #{item.createor},
    	        MODIFIED = #{item.modified},
    	        CREATE_DATE = #{item.createDate},
    	        MODIFY_DATE = #{item.modifyDate}
			</set>
            WHERE 	
		</foreach>
	</update>
</mapper>