<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxiang.share.system.synwhite.dao.SpecialparkinginfoDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.boxiang.share.system.synwhite.po.Specialparkinginfo">
        <result column="village_id" property="villageId"/>
        <result column="car_number" property="carNumber"/>
        <result column="owner" property="owner"/>
        <result column="certificate" property="certificate"/>
        <result column="address" property="address"/>
        <result column="phone" property="phone"/>
        <result column="carColor" property="carColor"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="item01" property="item01"/>
        <result column="item02" property="item02"/>
        <result column="item03" property="item03"/>
        <result column="item04" property="item04"/>
        <result column="item05" property="item05"/>
        <result column="park_code" property="parkCode"/>
        <result column="parking_name" property="parkingName"/>
		<result column="is_used" property="isUsed"/>
	</resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		is_used,village_id, car_number, owner, certificate, address, phone, carColor, create_time, create_user, update_time, update_user, item01, item02, item03, item04, item05
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="villageId != null and villageId != '' ">
		AND village_id = #{villageId}
		</if>
		<if test="carNumber != null and carNumber != '' ">
		AND car_number = #{carNumber}
		</if>
		<if test="owner != null and owner != '' ">
		AND owner = #{owner}
		</if>
		<if test="certificate != null and certificate != '' ">
		AND certificate = #{certificate}
		</if>
		<if test="address != null and address != '' ">
		AND address = #{address}
		</if>
		<if test="phone != null and phone != '' ">
		AND phone = #{phone}
		</if>
		<if test="carColor != null and carColor != '' ">
		AND carColor = #{carColor}
		</if>
		<if test="createTime != null and createTime != '' ">
		AND create_time = #{createTime}
		</if>
		<if test="createUser != null and createUser != '' ">
		AND create_user = #{createUser}
		</if>
		<if test="updateTime != null and updateTime != '' ">
		AND update_time = #{updateTime}
		</if>
		<if test="updateUser != null and updateUser != '' ">
		AND update_user = #{updateUser}
		</if>
		<if test="item01 != null and item01 != '' ">
		AND item01 = #{item01}
		</if>
		<if test="item02 != null and item02 != '' ">
		AND item02 = #{item02}
		</if>
		<if test="item03 != null and item03 != '' ">
		AND item03 = #{item03}
		</if>
		<if test="item04 != null and item04 != '' ">
		AND item04 = #{item04}
		</if>
		<if test="item05 != null and item05 != '' ">
		AND item05 = #{item05}
		</if>
	</sql>
	
	 <sql id="wherePageSql_parking">
     	<if test="params.villageId != null and params.villageId != '' ">
		AND ts.village_id in (${params.villageId})
		</if>
		<if test="params.villageName != null and params.villageName != '' ">
		AND tp.parking_name like '%${params.villageName}%'
		</if>
		<if test="params.carNumber != null and params.carNumber != '' ">
		AND ts.car_number like  '%${params.carNumber}%'
		</if>
		 <if test="params.isUsed != null and params.isUsed != '' ">
			 AND ts.is_used like  '%${params.isUsed}%'
		 </if>
		</sql>
	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.villageId != null and params.villageId != '' ">
		AND village_id = #{params.villageId}
		</if>
		<if test="params.carNumber != null and params.carNumber != '' ">
		AND car_number like  '%${params.carNumber}%'
		</if>
		<if test="params.owner != null and params.owner != '' ">
		AND owner = #{params.owner}
		</if>
		<if test="params.certificate != null and params.certificate != '' ">
		AND certificate = #{params.certificate}
		</if>
		<if test="params.address != null and params.address != '' ">
		AND address = #{params.address}
		</if>
		<if test="params.phone != null and params.phone != '' ">
		AND phone = #{params.phone}
		</if>
		<if test="params.carColor != null and params.carColor != '' ">
		AND carColor = #{params.carColor}
		</if>
		<if test="params.createTime != null and params.createTime != '' ">
		AND create_time = #{params.createTime}
		</if>
		<if test="params.createUser != null and params.createUser != '' ">
		AND create_user = #{params.createUser}
		</if>
		<if test="params.updateTime != null and params.updateTime != '' ">
		AND update_time = #{params.updateTime}
		</if>
		<if test="params.updateUser != null and params.updateUser != '' ">
		AND update_user = #{params.updateUser}
		</if>
		<if test="params.item01 != null and params.item01 != '' ">
		AND item01 = #{params.item01}
		</if>
		<if test="params.item02 != null and params.item02 != '' ">
		AND item02 = #{params.item02}
		</if>
		<if test="params.item03 != null and params.item03 != '' ">
		AND item03 = #{params.item03}
		</if>
		<if test="params.item04 != null and params.item04 != '' ">
		AND item04 = #{params.item04}
		</if>
		<if test="params.item05 != null and params.item05 != '' ">
		AND item05 = #{params.item05}
		</if>
	</sql>
	<update id="updateParkingInfo" parameterType="com.boxiang.share.system.synwhite.po.Specialparkinginfo">
		UPDATE t_specialparkinginfo
		SET is_used =#{isUsed}
		WHERE village_id = #{villageId} AND car_number = #{carNumber}
	</update>
	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_SPECIALPARKINGINFO 
	     WHERE village_id = #{villageId} ,car_number = #{carNumber}     
	</select>

	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_SPECIALPARKINGINFO
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM T_SPECIALPARKINGINFO
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>
	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPageForBack" resultMap="resultMap">
		SELECT ts.*,tp.*
		  FROM T_SPECIALPARKINGINFO ts
		  LEFT JOIN T_PARKING tp ON ts.village_id = tp.parking_id
		 WHERE 1 = 1
		 <include refid="wherePageSql_parking" />
		 ORDER BY ts.create_time DESC
	</select>

	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.boxiang.share.system.synwhite.po.Specialparkinginfo">
        INSERT INTO T_SPECIALPARKINGINFO (
        	village_id,
        	car_number,
        	owner,
        	certificate,
        	address,
        	phone,
        	carColor,
        	create_time,
        	create_user,
        	update_time,
        	update_user,
        	item01,
        	item02,
        	item03,
        	item04,
        	item05
        ) VALUES (
        	#{villageId},
        	#{carNumber},
        	#{owner},
        	#{certificate},
        	#{address},
        	#{phone},
        	#{carColor},
        	#{createTime},
        	#{createUser},
        	#{updateTime},
        	#{updateUser},
        	#{item01},
        	#{item02},
        	#{item03},
        	#{item04},
        	#{item05}
        )
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM T_SPECIALPARKINGINFO 
		 WHERE village_id = #{villageId} and car_number = #{carNumber}
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.boxiang.share.system.synwhite.po.Specialparkinginfo">
        UPDATE T_SPECIALPARKINGINFO 
		SET
		<if test="newCarNumber !=null and newCarNumber != ''">
			car_number = #{newCarNumber},
		</if>
	        owner = #{owner},
	        certificate = #{certificate},
	        address = #{address},
	        phone = #{phone},
	        carColor = #{carColor},
	        update_time = #{updateTime},
	        update_user = #{updateUser},
	        item01 = #{item01},
	        item02 = #{item02},
	        item03 = #{item03},
	        item04 = #{item04},
	        item05 = #{item05}
        WHERE village_id = #{villageId} AND car_number = #{carNumber} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE T_SPECIALPARKINGINFO
			<set>
    	        owner = #{item.owner},
    	        certificate = #{item.certificate},
    	        address = #{item.address},
    	        phone = #{item.phone},
    	        carColor = #{item.carColor},
    	        create_time = #{item.createTime},
    	        create_user = #{item.createUser},
    	        update_time = #{item.updateTime},
    	        update_user = #{item.updateUser},
    	        item01 = #{item.item01},
    	        item02 = #{item.item02},
    	        item03 = #{item.item03},
    	        item04 = #{item.item04},
    	        item05 = #{item.item05}
			</set>
            WHERE village_id = #{item.villageId} ,car_number = #{item.carNumber} 	
		</foreach>
	</update>
	
	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="findByVillageIdForUserSync" resultMap="resultMap">
		SELECT tv.item01 AS parkCode,ts.*
		  FROM T_SPECIALPARKINGINFO ts
		LEFT JOIN t_villageinfo tv ON tv.id = ts.village_id
		where 1=1 
		and tv.item01 IS NOT NULL
		and tv.item01 !=""	
		<if test="parkingStr!=null and parkingStr!='' ">
		and ts.village_id in (${parkingStr})
		</if>
	</select>
	
	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="deleteByCarnumberAndId">
		DELETE FROM T_SPECIALPARKINGINFO 
		 WHERE village_id = #{villageId} 
              and car_number = #{carNumber} 
	</delete>
	
	<select id="queryListExcel" resultMap="resultMap">
		SELECT 
			p.parking_name,
			mp.car_number,
			mp.owner,
			mp.certificate,
			mp.address,
			mp.phone,
			mp.carColor,
			mp.is_used
		  FROM T_SPECIALPARKINGINFO mp left join t_parking p on mp.village_id = p.parking_id
		 WHERE 1 = 1
		 <if test="villageId != null and villageId != '' ">
		AND mp.village_id in ${villageId}
		</if>
		<if test="parkingName != null and parkingName != '' ">
		AND p.parking_name like '%${parkingName}%'
		</if>
		<if test="carNumber != null and carNumber != '' ">
		AND mp.car_number like '%${carNumber}%'
		</if>
		<if test="isUsed != null and isUsed != '' ">
			AND mp.is_used = #{isUsed}
		</if>
		 order by mp.create_time desc
	</select>
</mapper>