<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boxiang.share.system.dao.SysAuthoritiesResourcesDao">
	
	<!-- 列结果resultMap boxiang 2016-01-03 -->
	<resultMap id="resultMap" type="com.boxiang.share.system.po.SysAuthoritiesResources">
        <result column="ID" property="id"/>
        <result column="AUTHORITY_ID" property="authorityId"/>
        <result column="RESOURCE_ID" property="resourceId"/>
        <result column="ENABLED" property="enabled"/>
	</resultMap>

	<!-- 公共列 boxiang 2016-01-03 -->
	<sql id="columns">
		ID, AUTHORITY_ID, RESOURCE_ID, ENABLED
	</sql>

	<!-- 公共条件 boxiang 2016-01-03 -->
	<sql id="whereSQL">
		<if test="id != null and id != '' ">
		AND ID = #{id}
		</if>
		<if test="authorityId != null and authorityId != '' ">
		AND AUTHORITY_ID = #{authorityId}
		</if>
		<if test="resourceId != null and resourceId != '' ">
		AND RESOURCE_ID = #{resourceId}
		</if>
		<if test="enabled != null and enabled != '' ">
		AND ENABLED = #{enabled}
		</if>
	</sql>

	<!-- 公共分页条件SQL boxiang 2016-01-03 -->
	<sql id="wherePageSql">
		<if test="params.id != null and params.id != '' ">
		AND ID = #{params.id}
		</if>
		<if test="params.authorityId != null and params.authorityId != '' ">
		AND AUTHORITY_ID = #{params.authorityId}
		</if>
		<if test="params.resourceId != null and params.resourceId != '' ">
		AND RESOURCE_ID = #{params.resourceId}
		</if>
		<if test="params.enabled != null and params.enabled != '' ">
		AND ENABLED = #{params.enabled}
		</if>
	</sql>

	<!-- 根据主键ID查询 boxiang 2016-01-03 -->
	<select id="queryById" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM SYS_AUTHORITIES_RESOURCES 
	     WHERE ID = #{id}     
	</select>

	<!-- 查询列表 boxiang 2016-01-03 -->
	<select id="selectList" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM SYS_AUTHORITIES_RESOURCES
		 WHERE 1 = 1	
		 <include refid="whereSQL" />
	</select>

	<!-- 查询分页列表 boxiang 2016-01-03 -->
	<select id="queryListPage" resultMap="resultMap">
		SELECT <include refid="columns" />
		  FROM SYS_AUTHORITIES_RESOURCES
		 WHERE 1 = 1
		 <include refid="wherePageSql" />
	</select>

	<!-- 插入 boxiang 2016-01-03 -->
	<insert id="insert" parameterType="com.boxiang.share.system.po.SysAuthoritiesResources">
        INSERT INTO SYS_AUTHORITIES_RESOURCES (
        	ID,
        	AUTHORITY_ID,
        	RESOURCE_ID,
        	ENABLED
        ) VALUES (
        	#{id},
        	#{authorityId},
        	#{resourceId},
        	#{enabled}
        )
	</insert>

	<!-- 根据主键ID删除 boxiang 2016-01-03 -->
	<delete id="delete">
		DELETE FROM SYS_AUTHORITIES_RESOURCES 
		 WHERE ID = #{id} 
	</delete>

	<!-- 更新 boxiang 2016-01-03 -->
	<update id="update" parameterType="com.boxiang.share.system.po.SysAuthoritiesResources">
        UPDATE SYS_AUTHORITIES_RESOURCES 
		SET
	        AUTHORITY_ID = #{authorityId},
	        RESOURCE_ID = #{resourceId},
	        ENABLED = #{enabled}
        WHERE ID = #{id} 	        
	</update>

	<update id="batchUpdate">
		<foreach collection="list" item="item" open="" close="" separator=";">
			UPDATE SYS_AUTHORITIES_RESOURCES
			<set>
    	        AUTHORITY_ID = #{item.authorityId},
    	        RESOURCE_ID = #{item.resourceId},
    	        ENABLED = #{item.enabled}
			</set>
            WHERE ID = #{item.id} 	
		</foreach>
	</update>
	<!--删除所有权限 -->
	<delete id="del" parameterType="java.lang.String" >
		DELETE FROM sys_authorities_resources  WHERE RESOURCE_ID =  #{resourceId}
	</delete>
</mapper>